<div class="modal fade" id="add-vm-modal" tabindex="-1" role='dialog' aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">填写配置</h4>
            </div>
            <div class="modal-body" style="padding-bottom:10px">
                <div class="ibox-content form-horizontal">
                    <label id="vc-add-waiting" style="display: none">正在连接VC服务器，请稍后...</label>
                    <form method="post" action="" class="vc-setting-form vc-add" id="vc-add-form">
                        {% csrf_token %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group" style="margin-right:-60px;margin-left:40px;">
                                    <label class="col-sm-3 control-label">IP地址:&nbsp;</label>
                                    <div class="dropdown col-sm-9">
                                        <input type="text" name="vcip" id="vcip" placeholder="请输入VCenter的IPv4地址">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-right:-60px;margin-left:40px;">
                                    <label class="col-sm-3 control-label">端口:&nbsp;</label>
                                    <div class="dropdown col-sm-9">
                                        <input type="text" name="vcport" id="vcport" value="443">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-right:-60px;margin-left:40px;">
                                    <label class="col-sm-3 control-label">环境类型:&nbsp;</label>
                                    <div class="col-sm-9 dropdown">
                                        {% for env in envs %}
                                            <input type="checkbox" name="{{ env.option }}">{{ env.option_display }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group" style="margin-right:-60px;margin-left:40px;">
                                    <label class="col-sm-3 control-label">用户名:&nbsp;</label>
                                    <div class="dropdown col-sm-9">
                                        <input type="text" name="vcname" id="vcname" placeholder="user@domain">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-right:-60px;margin-left:40px;">
                                    <label class="col-sm-3 control-label">密码:&nbsp;</label>
                                    <div class="dropdown col-sm-9">
                                        <input type="password" name="vcpw" id="vcpw">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-right:-60px;margin-left:40px;">
                                    <label class="col-sm-3 control-label">确认密码:&nbsp;</label>
                                    <div class="dropdown col-sm-9">
                                        <input type="password" name="vcpw-conf" id="vcpw-conf">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" form="vc-add-form">添加</button>
            </div>
        </div>
    </div>
</div>