{% extends 'base.html' %}
{% load mytags %}


{% block content %}
 
<div class="wrapper wrapper-content animated fadeInRight" style="margin-top:1px">
    <div class="row">

        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>申请页面</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="padding:1px 0px 20px">
                    <form class="form-horizontal" name="userapply" id="userapply" method="POST" action="">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="padding:5px 15px">基本配置：</div>
                            <div class="panel-body">
                                <div class="form-group" style="margin-bottom:5px"> 
                                    <label class="col-sm-2 control-label">环境类型:&nbsp;</label>

                                    <div class="dropdown col-sm-10">
                                    
                                        <button class="btn btn-sm btn-success dropdown-toggle dropdownMenu1" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="env_list">
                                            选择
                                           <span class="caret"></span>
                                        </button> 
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" style="font-size:13px;">
                                           {% for env in env_type %}
                                               <li>
                                                <a href="#" name='{{env.option}}'>{{env.option_display}}</a>
                                            </li>
                                           {% endfor %}
                                           
                                        </ul>
                                        <input type="text" name="env_type" class="env_type" style="display:none" value="">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">主机类型:&nbsp;</label>
                                    <div class="btn-group col-sm-10" data-toggle="buttons">
                                        <label class="btn btn-sm btn-success normal-type active">
                                            <input type="radio" name="fun_type" autocomplete="off" value="normal"
                                                   checked>普通型</label>
                                        <label class="btn btn-sm btn-success was-type">
                                            <input type="radio" name="fun_type"  autocomplete="off" value="was">内存型</label>
                                         <label class="btn btn-sm btn-success database-type">
                                            <input type="radio" name="fun_type"  autocomplete="off" value="database">I/O密集型</label>   
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">CPU:&nbsp;</label>
                                    <div class ="btn-group col-sm-10" data-toggle="buttons">
                                        <label class="btn btn-sm  btn-success active">
                                            <input type="radio" name="cpu" class="2C" autocomplete="off" checked
                                                   value="2">2C</label>
                                        <label class="btn btn-sm  btn-success">
                                            <input type="radio" name="cpu" class="4C" autocomplete="off" value="4">4C</label>

                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">内存:&nbsp;</label>
                                    <div class ="btn-group col-sm-10" data-toggle="buttons">
                                        <label class="btn btn-sm  btn-success">
                                            <input type="radio" name="memory" class="2G" autocomplete="off" value="2">2G</label>
                                        <label class="btn btn-sm  btn-success active">
                                            <input type="radio" name="memory" class="4G" autocomplete="off" checked value="4">4G</label>
                                        <label class="btn btn-sm  btn-success">
                                            <input type="radio" name="memory" class="8G" autocomplete="off" value="8">8G</label>
                                            <label class="btn btn-sm  btn-success">
                                            <input type="radio" name="memory" class="16G" autocomplete="off" value="16">16G</label>

                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">操作系统:&nbsp;</label>
                                    <div class="dropdown col-sm-10">
                                     
                                        <button class="btn btn-sm  btn-success dropdown-toggle dropdownMenu2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"　name="os_type">
                                            选择
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2" style="font-size:13px;">
                                           <li class="dropdown-header">windows系统</li>
                                            {% for os in os_version %}
                                             
                                                {% ifequal os.sheet_brand|get_tuple "WIN" %} 
                                                    <li>
                                                <a href="#" name='WIN'>{{os.option_display}}</a>
                                               </li>
                                                {% endifequal %}
                                            {% endfor %}
                                            <li role="separator" class="divider"></li>
                                                <li class="dropdown-header">linux系统</li>
                                                {% for os in os_version %}
                                                {% ifequal os.sheet_brand|get_tuple "LUX" %} 
                                                    <li>
                                                <a href="#" name='LUX'>{{os.option_display}}</a>
                                               </li>
                                                {% endifequal %}
                                                {% endfor %}
                                        </ul>
                                        <input type="text" name="os_type" class="os_type" style="display:none" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading" style="padding:5px 15px">磁盘配置：</div>
                            <div class="panel-body">
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">系统盘:&nbsp;</label>
                                    <div class="col-sm-10">
                                        <p style="margin:5px">
                                            <label for="amount">&nbsp;50G</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">数据盘:&nbsp;</label>
                                    <div class="col-sm-10">
                                        <div id="slider" ></div>
                                        <p>
                                            <input type="text" id="data_volume" style="width:30px;" name="data_disk">
                                            <label for="data_volume">&nbsp;G</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading" style="padding:5px 15px">参数配置：</div>
                            <div class="panel-body">
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">申请数量:&nbsp;</label>
                                    <div class="col-sm-10">
                                        <div id="slider1"></div>
                                        <p style="float:left">
                                            <input type="text" id="amount" style="width:30px;" name="request_num">
                                            <label for="amount">&nbsp;台</label>
                                        </p>

                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">申请原因:&nbsp;</label>
                                    <div class="col-sm-10">
                                         <textarea name="apply_reason"  cols="50" rows="2"></textarea> 
                                         <input type="hidden" name="tag" id="tag" value="save"> 
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-7">        
                                      <button type="submit" class="btn btn-default" id="save_btn">保存</button> 
                                    <button type="submit" class="btn btn-success"  id="submit_btn">提交</button>
                                    
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block self_footer_js %}
<!-- 滑块效果　待整合 -->
<style type="text/css">
  #slider,#slider1{
    float: left;
    clear: left;
    width: 300px;
    margin: 10px;
  }
  #slider .ui-slider-range { background: #2496DE; }
  #slider .ui-slider-handle { border-color: #729fcf; }

  #slider1 .ui-slider-range {
      background: #2496DE;
  }

  #slider1 .ui-slider-handle {
      border-color: #729fcf;
  }
</style>
<script>
 $("#submit_btn").click(function(){
            $("#tag").val("submit");
        })
 $("#save_btn").click(function(){
            $("#tag").val("save");
        })
    $('#userapply').validator({
        timely: 2,
        theme: "yellow_right_effect",
        rules:{
            check_reason:[/^.{2,40}$/i,'请输入2-40个字符的原因！'],
        },
        fields: {
            "env_type": {
                rule: "required;",
                tip: "请选择环境类型",
                ok: "",
                msg: {
                    required: "环境必选"
                }
            },
            "os_type": {
                rule: "required;",
                tip: "请选择系统",
                ok: "",
                msg: {
                    required: "系统必选"
                }
            },
            "apply_reason": {
                rule: "required;check_reason",
                tip: "输入申请原因",
                ok: "",
                msg: {
                    required: "申请原因不能为空"
                }
            }
        },
        valid: function(form) {
            form.submit();
        }
    })
</script>
{% endblock %}
