{% extends 'base.html' %} {% load mytags %} {% block content %} {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>VM设置</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li id="tab1" class="active">
                                            <a data-toggle="tab" href="#tab-vmware" aria-expanded="true">VMware环境配置</a>
                                        </li>
                                        <li id="tab２">
                                            <a data-toggle="tab" href="#tab-parameter" aria-expanded="true">申请参数配置</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="tab-vmware" class="tab-pane active col-sm-10">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                vCenter配置
                                                <button id='add-vcenter' class="btn btn-xs btn-primary"
                                                        data-toggle="modal" data-target="#add-vm-modal"
                                                        style="float:right">
                                                    添加VC
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover table-cendensed"
                                                       id="vcenter-table">
                                                    <tr>
                                                        <th class="text-center">IP</th>
                                                        <th class="text-center">端口</th>
                                                        <th class="text-center">用户</th>
                                                        <th class="text-center">操作</th>
                                                    </tr>
                                                    {% for vc in vcenter %}
                                                        <tr id="vc-table">
                                                            <td class="text-center vc-ip">{{ vc.ip }}</td>
                                                            <td class="text-center">{{ vc.port }}</td>
                                                            <td class="text-center">{{ vc.user }}</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-xs btn-success"
                                                                        data-toggle="modal"
                                                                        data-target="#vc-{{ vc.id }}-modal">修改
                                                                </button>
                                                                {% include 'jvmanager/modify_vcenter_modal.html' %}
                                                                <button class="btn btn-xs btn-danger vc-del-btn">删除
                                                                </button>
                                                                <button class="btn btn-xs btn-primary vc-sync-btn">
                                                                    同步 [上次: {{ vc.last_sync_from_now }}]
                                                                </button>
                                                                <br>
                                                                <input type="checkbox" class="sync_asset">资源
                                                                <input type="checkbox" class="sync_vm">虚拟机
                                                                <input type="checkbox" class="sync_related">关联(耗时较长)
                                                            </td>
                                                            <td class="text-center vc-id"
                                                                style="display:none">{{ vc.id }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                                {% include 'jvmanager/add_vcenter_modal.html' %}
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                IP池配置

                                                <button id='ippool-initial-btn' class="btn btn-xs btn-success"
                                                        data-toggle="modal" data-target="#initial-ippool-modal"
                                                        style="float:right; margin-left:10px">初始化网络
                                                </button>
                                                <div class="modal fade" id="initial-ippool-modal" tabindex="-1"
                                                     role='dialog' aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">初始化网络</h4>
                                                            </div>
                                                            <div class="modal-body" style="padding-bottom:10px">
                                                                <div class="ibox-content form-horizontal">
                                                                    <form method="post" action=""
                                                                          id="ippool-initial-form">
                                                                        {% csrf_token %}
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-body">
                                                                                <input type="hidden" name="net_id"
                                                                                       value="" id="net_id">
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">网络:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <select name="network"
                                                                                                id="network">
                                                                                            {% for net in uninit_nets %}
                                                                                                <option value="{{ net.net }}">{{ net.name }}</option>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">网关:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <input type="text"
                                                                                               name="netgate"
                                                                                               id="netgate" 　value=""
                                                                                               placeholder="请选择网络">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">子网掩码:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <input type="text"
                                                                                               name="net_mask"
                                                                                               id="net_mask"
                                                                                               　value="255.255.255.0"
                                                                                               placeholder="255.255.255.0">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">关闭
                                                                </button>
                                                                <button type="button" class="btn btn-primary"
                                                                        id="initialip-start-btn">初始化
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button id='ip-manage-btn' class="btn btn-xs btn-primary"
                                                        data-toggle="modal" data-target="#manage-IP-modal"
                                                        style="float:right">
                                                    管理IP
                                                </button>
                                                <div class="modal fade" id="manage-IP-modal" tabindex="-1" role='dialog'
                                                     aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">管理IP</h4>
                                                            </div>
                                                            <div class="modal-body" style="padding-bottom:10px">
                                                                <div class="ibox-content form-horizontal">
                                                                    <form method="post" action="" id="ip-add-form">
                                                                        {% csrf_token %}
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-body">
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <input type="hidden" name="gw_addr"
                                                                                           id="gw_addr" value="">
                                                                                    <label class="col-sm-3 control-label">网络:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <select name="r-network"
                                                                                                id="r-network">

                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">IP:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <input type="text"
                                                                                               name="ipaddress"
                                                                                               id="ipaddress" 　value="">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">用途:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <select name="netusage"
                                                                                                id="netusage">
                                                                                            <option value="1">网关
                                                                                            </option>
                                                                                            <option value="0">普通地址
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">关闭
                                                                </button>
                                                                <button type="button" class="btn btn-primary"
                                                                        id="add-ip-btn">添加
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover table-cendensed"
                                                       id="ip-table">
                                                    <tr>
                                                        <th class="text-center">网络</th>
                                                        <th class="text-center">IP地址</th>
                                                        <th class="text-center">用途</th>
                                                        <th class="text-center">操作</th>
                                                    </tr>
                                                    {% for ip in ipusage %}
                                                        <tr>
                                                            <td class="text-center">{{ ip.network.net }}/{{ ip.network.netmask }}</td>
                                                            <td class="text-center">{{ ip.ipaddress }}</td>
                                                            <td class="text-center">{% ifequal ip.used_manage 1 %}
                                                                网关
                                                            {% endifequal %} {% ifequal ip.used_manage 0 %}
                                                                普通地址
                                                            {% endifequal %}</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-xs btn-success">修改用途</button>
                                                            </td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                    {% endfor %}

                                                </table>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                模板配置
                                                <button id='add-temp' class="btn btn-xs btn-primary" data-toggle="modal"
                                                        data-target="#add-template-modal" style="float:right">
                                                    添加
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                <div class="modal fade" id="add-template-modal" tabindex="-1"
                                                     role='dialog' aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">匹配模板</h4>
                                                            </div>
                                                            <div class="modal-body" style="padding-bottom:10px">
                                                                <div class="ibox-content form-horizontal">
                                                                    <form method="post" action=""
                                                                          id="add-template-form">
                                                                        {% csrf_token %}
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-body">
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">操作系统:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <select name="os_type"
                                                                                                id="tem-os-type">
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">模板:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        <select name="vmid"
                                                                                                id="template">
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group"
                                                                                     style="margin-right:-60px;margin-left:40px;">
                                                                                    <label class="col-sm-3 control-label">环境类型:&nbsp;</label>
                                                                                    <div class="dropdown col-sm-9">
                                                                                        {% for env in envs %}
                                                                                            <input type="checkbox"
                                                                                                   name="{{ env.option }}">
                                                                                            {{ env.option_display }}
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">关闭
                                                                </button>
                                                                <button type="button" class="btn btn-primary"
                                                                        id="add-template-btn">添加
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover table-cendensed"
                                                       id="template-table">
                                                    <tr>
                                                        <th class="text-center" style="width:150px">操作系统</th>
                                                        <th class="text-center">环境类型</th>
                                                        <th class="text-center">模板</th>
                                                        <th class="text-center">操作</th>
                                                    </tr>
                                                    {% for tem in templates %}
                                                        <tr>
                                                            <td class="text-center">{{ tem.virtualmachine.guestos_fullname }}</td>
                                                            <td class="text-center">&nbsp;
                                                                {% for env in envs %}
                                                                    {% if env.option in tem.env_type_list %}
                                                                        {{ env.option_display }}&nbsp;
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                            <td class="text-center">{{ tem.virtualmachine.name }}</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-xs btn-danger template-del-btn"
                                                                        name="{{ tem.id }}">删除
                                                                </button>
                                                                <button class="btn btn-xs btn-success template-mf-btn"
                                                                        name="{{ tem.id }}">修改
                                                                </button>
                                                            </td>
                                                            <td class="text-center tem-id" style="display:none"></td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-parameter" class="tab-pane col-sm-10">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                环境类型
                                                <button id='add-env' class="btn btn-xs btn-primary" style="float:right">
                                                    添加环境类型
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover"
                                                       id="env-table">
                                                    <tr>
                                                        <th class="text-center">标识符</th>
                                                        <th class="text-center" style='width:300px'>环境类型</th>
                                                        <th class="text-center">操作</th>
                                                    </tr>
                                                    {% for env in envs %}
                                                        <tr id="tr{{ env.id }}">
                                                            <td class="text-center"
                                                                id="env-option-{{ env.id }}">{{ env.option }}</td>
                                                            <td class="text-center"
                                                                id="env-td-{{ env.id }}">{{ env.option_display }}</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-xs btn-success"
                                                                        name="{{ env.id }}">修改
                                                                </button>
                                                                <button class="btn btn-xs btn-danger"
                                                                        name="{{ env.id }}">删除
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                操作系统类型
                                                <button id="add-os" class="btn btn-xs btn-primary" style="float:right">
                                                    添加系统
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-striped table-hover table-cendensed"
                                                       id="os-table">
                                                    <tr>
                                                        <th class="text-center" style='width:70px'>类型</th>
                                                        <th class="text-center" style='width:150px'>类型描述</th>
                                                        <th class="text-center" style='width:150px'>版本</th>
                                                        <th class="text-center">操作</th>
                                                    </tr>
                                                    {% for os_version in os_versions %}
                                                        <tr>
                                                            <td class="text-center">{{ os_version.sheet_brand.0 }}</td>
                                                            <td class="text-center">{{ os_version.sheet_brand.1 }}</td>
                                                            <td class="text-center">{{ os_version.option_display }}</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-xs btn-danger os-del-btn"
                                                                        name="{{ os_version.id }}">删除
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} {% block self_footer_js %}
    <style type="text/css">
        .selectpicker {
            width: 120px;
            height: 30px;
        }
    </style>
    <script>
        //vcenter表单验证提交(新增、修改)
        $(".vc-setting-form").validator({
            timely: 2,
            theme: "yellow_right_effect",
            rules: {
                domainuser: [/^\w+@\w+\.\w+$/, 'VC管理员用户: user@domain'],
                portnum: [/^\d{1,5}$/, '端口号不正确'],
                ipaddress: [/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/, 'IP格式不正确']
            },
            fields: {
                "vcip": {rule: "required;ipaddress", ok: ""},
                "vcport": {rule: "required;portnum", ok: ""},
                "vcname": {rule: "required;domainuser", ok: ""},
                "vcpw": {rule: "required", ok: ""},
                "vcpw-conf": {rule: "required;match[vcpw]", ok: ""}
            },
            valid: function (form) {
                var vcform = $(form).serializeArray();
                var vcurl, succ_msg;
                //添加VC
                if ($(form).hasClass("vc-add")) {
                    vcurl = '{% url "ajax_add_vc" %}';
                    succ_msg = "添加成功"
                }
                //修改VC
                else if ($(form).hasClass("vc-modify")) {
                    vcurl = '{% url "ajax_modify_vc" %}';
                    succ_msg = "修改成功"
                }
                $.post(vcurl, vcform, function (data, textStatus) {
                    if (textStatus == "success") {
                        data.status == 'success' ? alert(succ_msg) : alert(data.errmsg);
                        setTimeout(function (e) {
                            location.href = '{% url "set_vm" %}'
                        }, 200);
                    } else {
                        alert("未知错误")
                    }
                }, 'json');
            }
        });
        $(".vc-sync-btn").click(function (event) {
            var $vc_id = $(this).parent("td").siblings('.vc-id').text();
            var $sync_asset = $(this).siblings('.sync_asset').prop("checked");
            var $sync_vm = $(this).siblings('.sync_vm').prop("checked");
            var $sync_related = $(this).siblings('.sync_related').prop("checked");
            $.post('{% url "ajax_sync_vc" %}', {
                "id": $vc_id,
                "sync_asset": $sync_asset,
                "sync_vm": $sync_vm,
                "sync_related": $sync_related
            }, function (data, textStatus) {
                if (textStatus == "success") {
                    data.status == 'success' ? alert("成功触发同步") : alert(data.errmsg);
                    setTimeout(function (e) {
                        location.href = '{% url "set_vm" %}'
                    }, 200);
                } else {
                    alert("未知错误")
                }
            }, 'json');
        });
        $(".vc-del-btn").click(function (event) {
            var $vc_id = $(this).parent("td").siblings('.vc-id').text();
            var $vc_ip = $(this).parent("td").siblings('.vc-ip').text();
            var cfm_msg = "将删除VCenter: " + $vc_ip + ",请确认.";
            var succ_msg = "级联删除VCenter: " + $vc_ip + " 成功!.";
            if (confirm(cfm_msg)) {
                $.post('{% url "ajax_delete_vc" %}', {
                    "id": $vc_id
                }, function (data, textStatus) {
                    if (textStatus == "success") {
                        data.status == 'success' ? alert(succ_msg) : alert(data.errmsg);
                        setTimeout(function (e) {
                            location.href = '{% url "set_vm" %}'
                        }, 200);
                    } else {
                        alert("未知错误")
                    }
                }, 'json');
            }
        });

        //模板参数
        $("#add-temp").click(function (event) {
            $.post('{% url "get_templates" %}', {}, function (data, textStatus) {
                if (textStatus == "success") {
                    var template_option = "";
                    for (var count = 0; count < data.length; count++) {
                        template_option += "<option value='" + data[count].vmid + "'>" + data[count].vmname + "</option>"
                    }
                    $("#template").append(template_option)
                }
            });
            $.post('{% url "get_sheetfield" %}', {}, function (data, textStatus) {
                var os_option = '';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].os_type) {
                        os_option += "<option>" + data[i].os_type + "</option>"
                    }
                }
                $("#tem-os-type").append(os_option)
            });
        });

        $("#add-template-btn").click(function (event) {
            $add_template_form = $("#add-template-form").serializeArray();
            $.post('{% url "ajax_add_template" %}', $add_template_form, function (data, textStatus) {
                if (textStatus == "success") {
                    alert("添加成功");
                    setTimeout(function () {
                        location.href = '{% url "set_vm" %}'
                    }, 200)
                }
            });
        });

        $(".template-del-btn").click(function (event) {
            var tem_id = $(this).attr("name");
            if (confirm("确定删除此模板?")) {
                $.post('{% url "ajax_delete_template" %}', {'id': tem_id}, function (data, textStatus) {
                    if (textStatus == "success") {
                        location.href = '{% url "set_vm" %}'
                    }
                });
            }

        });

        //网络参数
        $("#network").change(function (event) {
            $("#net_id").val($(this).find("option:selected").attr('name'));
            var netgate = $(this).val().substring(0, $(this).val().lastIndexOf('.0')) + ".254";

            $("#netgate").val(netgate);
            $("#netgate").attr('placeholder', netgate);
        });
        $("#initialip-start-btn").click(function (event) {
            $("#net_mask").val("255.255.255.0");
            $ippool_initial_form = $("#ippool-initial-form").serializeArray();
            alert(JSON.stringify($ippool_initial_form));
            $.post('{% url "ajax_initial_network" %}', $ippool_initial_form, function (data, textStatus) {
                if (textStatus == "success") {
                    alert("初始化成功");
                    setTimeout(function () {
                        location.href = '{% url "set_vm" %}'
                    }, 200)
                }
            });

        });

        $("#ip-manage-btn").click(function (event) {
            $.post('{% url "ajax_get_initial_ip" %}', {}, function (data, textStatus) {
                /*optional stuff to do after success */
                if (textStatus == "success") {
                    ip_option = "";
                    for (var count = 0; count < data.length; count++) {
                        ip_option += "<option value='" + data[count].net + "' name='" + data[count].id + "'>" + data[count].net_name + "</option>"
                    }
                    $("#r-network").append(ip_option)
                }

            });
        });
        $("#r-network").change(function (event) {
            var netgate = $(this).val().substring(0, $(this).val().lastIndexOf('.0')) + ".254";
            $("#ipaddress").val(netgate).focus();
            $("#netgate").attr('placeholder', netgate);
            $("#gw_addr").val(netgate)
        });
        $("#add-ip-btn").click(function (event) {
            $ip_add_form = $("#ip-add-form").serializeArray();
            alert(JSON.stringify($ip_add_form));
            $.post('{% url "ajax_add_ip" %}', $ip_add_form, function (data, textStatus) {
                if (textStatus == "success") {
                    location.href = '{% url "set_vm" %}'
                }
            });
        });


        //环境参数
        var $env_table = $("#env-table");
        $('#add-env').click(function (event) {
            $("#add-env").attr('disabled', 'true');
            html = "<tr id='tr-newenv'><td class='text-center' id='env-option-new'><input type='text' placeholder='标识符' id='inner-option-new' style='width:50px'></td><td class='text-center' id='env-td-new'><input type='text' placeholder='输入环境名称' id='inner-input-new'></td><td class='text-center' id='env-btn-td-new'><button class='btn btn-xs btn-success' id='add-env-new'>确认添加</button></td></tr>";
            $env_table.append(html);
            $inner_option = $("#inner-option-new");
            $inner_display = $("#inner-input-new");
            $inner_option.focus();
            $("#add-env-new").click(function (event) {
                if ($inner_option.val() && $inner_display.val()) {
                    //ajax提交
                    var data = {
                        "env_option": $inner_option.val(),
                        "env_type": $inner_display.val()
                    };
                    $.post('{% url "ajax_add_env" %}', data, function (data, textStatus) {
                        if (textStatus == "success" && data.status == 'success') {
                            env_id_new = data.result;
                            $("#add-env").removeAttr('disabled');
                            $("#tr-newenv").remove();
                            html = "<tr id='tr" + env_id_new + "'><td class='text-center' id='env-option-" + env_id_new + "'>" + $inner_option.val() + "</td><td class='text-center' id='env-td-" + env_id_new + "'>" + $inner_display.val() + "</td><td class='text-center'><button class='btn btn-xs btn-success' name='" + env_id_new + "'>修改</button><button class='btn btn-xs btn-danger' name='" + env_id_new + "'>删除</button></td></tr>";
                            $env_table.append(html);
                        } else {
                            alert("未知错误")
                        }
                    }, 'json');
                }
            });
        });

        $env_table.find('tr').each(function (index, el) {
            $(el).find(':button.btn-success').click(function (event) {
                var env_id = $(this).attr('name');
                var $env_display = $("#env-td-" + env_id);
                $env_display.html("<input type='text' value='" + $env_display.text() + "' id='inner-input" + env_id + "'>");
                var $env_display_change = $("#inner-input" + env_id);
                $env_display_change.focus();
                $env_display_change.blur(function (event) {
                    $.post('{% url "ajax_update_env" %}', {
                        "id": env_id,
                        "env_type": $env_display_change.val()
                    }, function (data, textStatus) {
                        if (textStatus == "success" && data.status == 'success') {
                            $env_display.html(data.result)
                        } else {
                            alert("未知错误")
                        }
                    }, 'json');
                });
            });
            $(el).find(':button.btn-danger').click(function (event) {
                var env_id = $(this).attr('name');
                if (confirm("删除环境类型将导致无法关联，确定删除？")) {
                    $.post('{% url "ajax_delete_env" %}', {
                        "id": env_id
                    }, function (data, textStatus) {
                        if (textStatus == "success" && data.status == 'success') {
                            $(el).remove()
                        } else {
                            alert("未知错误")
                        }
                    }, 'json');
                }
            })
        });

        $('#add-os').click(function (event) {
            $("#add-os").attr('disabled', 'true');
            html = "<tr id='tr-newos'><td class='text-center' id='type-option-new'></td><td class='text-center' id='type-display-new'><select id='os-type-input'></select></td><td class='text-center' style='display:none' id='ver-option-new'></td><td class='text-center' id='ver-display-new'><select id='os-version-input'></select></td><td class='text-center'><button class='btn btn-xs btn-success' id='add-os-new'>确认添加</button></td></tr>";
            $("#os-table").append(html);
            $.post('{% url "ajax_get_os_types" %}', {}, function (data, textStatus) {
                if (textStatus == "success") {
                    var get_os_types = "<option></option>";
                    for (var i = 0; i < data.length; i++) {
                        get_os_types += "<option value='" + data[i].option + "'>" + data[i].option_display + "</option>"
                    }
                    $("#os-type-input").html(get_os_types)
                }
            });
            $.post('{% url "ajax_get_os_version" %}', {}, function (data, textStatus) {
                if (textStatus == "success") {
                    var get_os_versions = "<option></option>";
                    for (var i = 0; i < data.length; i++) {
                        get_os_versions += "<option value='" + data[i].guestos_shortname + "'>" + data[i].guestos_fullname + "</option>"
                    }
                    $("#os-version-input").html(get_os_versions)
                }
            });
            $("#os-type-input").focus();
            $("#os-type-input").change(function (event) {
                $("#type-option-new").html($(this).val())
            });
            $("#os-version-input").change(function (event) {
                $("#ver-option-new").html($(this).val())
            });
            $("#add-os-new").click(function (event) {
                //ajax提交
                $os_version_form = {
                    "os_type": $("#type-option-new").html(),
                    "version": $("#ver-option-new").html(),
                    "version_display": $("#os-version-input").find("option:selected").text()
                };
                $.post('{% url "add_os_version" %}', $os_version_form, function (data, textStatus) {
                    if (textStatus == "success" && data.status == 'success') {
                        os_id_new = data.result;
                        $("#add-os").removeAttr('disabled');
                        html = "<tr><td class='text-center'>" + $("#type-option-new").html() +
                                "</td><td class='text-center'>" + $("#os-type-input").find("option:selected").text() +
                                "</td><td class='text-center'>" + $("#os-version-input").find("option:selected").text() +
                                "</td><td class='text-center'><button class='btn btn-xs btn-danger os-del-btn' name='" +
                                os_id_new + "'>删除</button></td></tr>";
                        $("#tr-newos").remove();
                        $("#os-table").append(html);
                    } else {
                        alert("未知错误")
                    }
                }, 'json');
            });
        });
        $(".os-del-btn").click(function (event) {
            var os_id = $(this).attr('name');

            if (confirm("确认删除此类型？")) {
                $.post('{% url "del_os_version" %}', {"id": os_id}, function (data, textStatus) {
                    if (textStatus == "success") {
                        location.href = '{% url "set_vm" %}'
                    }
                });
            }

        });
    </script>
{% endblock %}
